@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #146C94;
    padding-bottom: 1px;
}

nav a {
    color: #19A7CE;
    font-family: Source Serif Pro, Roboto, sans-serif;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 5px;  
}

body {
    background-color: #F6F1F1;
}

main {
    color: #00000000;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: large;
    text-align: justify;
    margin-top: 3%;
    margin-bottom: 3%;
}

main p {
    text-indent: 6%;
    margin: 3%;
}

h1 {
    color: #19A7CE;
    font-family: Source Serif Pro, Roboto, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 2%;
}

h2 {
    color:#19A7CE;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: x-large;
    text-align: justify;
    padding-top: 4%;
    padding-bottom: 2%;
    margin: 3%;
}

h3 {
    background-color: #e7e415;
    color: #F6F1F1;
    font-family: Roboto, Source Serif Pro, sans-serif;
    font-size: x-large;
    text-indent: 6%;
    text-align: justify;
    padding-top: 6%;
    padding-block: 3%;
}

img{
    margin: 3%;
}

footer {
    background-color: #299414;
    color: #ffffff;
    font-family: Roboto 100, sans-serif;
    font-size: medium;
    text-indent: 1%;
    text-align: justify;
}