.home {
    background-color: #f3ecec;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url(./imagens-css/home.png);
    background-size: contain;
    background-position-x: 3px;
    background-position-y: -1px;
    background-repeat: no-repeat;
    margin-left: 1%;
}
.missao { 
    background-color: #f3ecec;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url(./imagens-css/missao.png);
    background-size: contain;
    background-position-x: 4px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.produtos {
    background-color: #f3ecec;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url(./imagens-css/produtos.png);
    background-size: contain;
    background-position-x: 4px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.servicos {
    background-color: #f3ecec;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url(./imagens-css/serviços.png);
    background-size: contain;
    background-position-x: 4px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.sobre {
    background-color: #f3ecec;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(./imagens-css/sobre.png);
    background-size: contain;
    background-position-x: 3px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}